.odata-root {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-top: 5px;

  div.table-header-wrapper {
    border-top: none;
  }
  .sap-icon--feeder-arrow.sap-icon--l {
    &:before {
      font-size: 16px;
    }
  }

  > button {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    align-self: flex-end;
    border-radius: 4px;
    border: solid 1px #0a6ed1;
    background-color: white;
    color: #0a6ed1;
    transition: background-color 0.2s ease-in-out;

    :hover {
      background-color: #0a6ed1;
      color: white;
    }
  }

  > section {
    margin-bottom: 16px;
    border-radius: 4px;
    border: solid 1px #97979742;

    & > div[class*="styled__TablePanel"] {
      border-radius: 4px;

      & > div[class*="styled__TableHeaderWrapper"] {
        border-top: none;
        border-radius: 4px;
      }
    }
  }

  h1.fd-panel__title {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #32363a;
  }

  tr {
    border-radius: 4px;

    & > td {
      border-radius: 4px;
    }

    th {
      background-color: #f3f4f573;
    }
  }

  tr > td {
    padding: 16px 20px;
    border-radius: 4px;

    & > table {
      table-layout: fixed;
      border-collapse: collapse;
      border-radius: 4px;

      > thead {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: solid 1px #97979742;
      }

      > tbody {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: solid 1px #97979742;
      }
    }
  }
}
