html {
  background: #f3f4f5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background: #f3f4f5;
  padding: 20px;
}

.react-tabs__tab-list > li.tab {
  color: white;
  background-color: #0b74de;
  cursor: pointer;

  margin: 0 12px 0 0;
  padding: 8px;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid #0b74de;
  display: inline-block;
  transition: 0.125s;
}

li.tab:hover {
  background-color: white;
  color: #0b74de;
}

.asyncapi__info-description {
  margin-top: 16px;
}
